<% content_for :page_title do %>
  <div class="page-title-wrp">
    <%= Spree.t(:new_page, scope: :static_content) %><span class="text-muted">(<%= Mobility.locale %>)</span>
  </div>
<% end %>

<%= render 'form', resource: @page %>
