.checkbox.checkbox-static-page-visibility {
  display: inline;
  margin-right: 30px;
}
.glyphicon-check, .glyphicon-unchecked {
  font-size: 1em;
}
.page-title-wrp {
  display: flex;
}
.page-title-wrp span {
}
.page-title-wrp span.text-muted {
  margin-left: 10px;
  font-size: .9em;
  position: relative;
  top: 1px;
}
